body {
    background: #0b132b;
    color: white;
    font-family: sans-serif;
    padding: 10px;
}

#search {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
}

.countryCard {
    background: linear-gradient(45deg,#4facfe,#00f2fe);
    padding: 15px;
    margin: 10px 0;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.countryCard:hover {
    transform: scale(1.05);
}

.copyAll {
    background: linear-gradient(45deg,#ff7e5f,#feb47b);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
}

.configBox {
    background: #1c2541;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
}

.configText {
    font-size: 12px;
    word-break: break-all;
}

.copyBtn {
    margin-top: 10px;
    background: #00c9a7;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
}

.backBtn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    background: #ff4b2b;
    color: white;
}
