/* حالت پیش‌فرض (دارک) */
body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
  text-align: center;
  transition: 0.3s;
}

.title {
  font-size: 40px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.search {
  padding: 10px;
  width: 60%;
  border-radius: 10px;
  border: none;
}

/* کانفیگ */
.config {
  background: rgba(255,255,255,0.1);
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

/* ☀️ حالت لایت */
body.light {
  background: #f1f5f9;
  color: black;
}

body.light .config {
  background: rgba(0,0,0,0.1);
}
