body {
    background: #0f172a;
    color: white;
    font-family: sans-serif;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

h2 {
    text-align: center;
}

#search {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    margin: 10px 0;
}

/* کشور */
.country {
    background: #1e293b;
    padding: 15px;
    margin: 10px 0;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

/* کانفیگ */
.config {
    background: #111827;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 12px;
}

button {
    margin-top: 8px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background: #22c55e;
    color: white;
}

/* تلگرام */
.telegram {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0088cc;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
}
