body{
    font-family: sans-serif;
    background:#0f172a;
    color:white;
    margin:0;
    padding:20px;
}

.container{
    max-width:900px;
    margin:auto;
}

input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:none;
    margin-bottom:15px;
}

.country{
    background:#1e293b;
    padding:15px;
    margin:10px 0;
    border-radius:12px;
    cursor:pointer;
    transition:0.3s;
}

.country:hover{
    background:#334155;
}

.configBox{
    background:#1e293b;
    padding:15px;
    margin:10px 0;
    border-radius:12px;
    animation:fade 0.3s ease;
}

.configBox p{
    word-break:break-all;
}

button{
    padding:8px 12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-top:10px;
}

.topBar{
    display:flex;
    gap:10px;
    margin-bottom:10px;
}

.fadeIn{
    animation:fade 0.4s ease;
}

@keyframes fade{
    from{opacity:0; transform:translateY(10px);}
    to{opacity:1; transform:translateY(0);}
}

.controls{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}
