body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(180deg, #0a0f2c, #020617);
    color: #fff;
}

/* کانتینر */
.container {
    padding: 15px;
    max-width: 500px;
    margin: auto;
}

/* سرچ */
#search {
    width: 100%;
    padding: 14px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    margin-bottom: 15px;
}

/* دکمه‌ها */
.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    flex: 1;
    padding: 14px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

/* دکمه آپدیت */
button:first-child {
    background: #e5e5e5;
}

/* Auto */
#autoBtn {
    background: red;
    color: #fff;
}

/* آخرین آپدیت */
#lastUpdate {
    margin: 10px 0 20px;
    font-size: 14px;
    opacity: 0.8;
}

/* کارت کشور */
.country {
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    padding: 18px;
    border-radius: 20px;
    margin-bottom: 12px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.country:hover {
    transform: scale(1.03);
}

/* کانفیگ */
.configBox {
    background: #1e293b;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 12px;
    word-break: break-all;
}

/* دکمه کپی */
.configBox button {
    margin-top: 10px;
    background: linear-gradient(135deg, #f97316, #ec4899);
    color: #fff;
}

/* دکمه بازگشت */
button:last-child {
    margin-top: 20px;
    background: linear-gradient(135deg, #22c55e, #14b8a6);
    color: #fff;
}

/* دکمه کپی همه */
.copyAll {
    background: linear-gradient(135deg, #6366f1, #f59e0b);
    color: #fff;
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
