body {
  font-family: sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  text-align: center;
}

.title {
  font-size: 40px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  color: white;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.country {
  margin: 15px;
}

.config {
  background: rgba(255,255,255,0.05);
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
