body {
  font-family: sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

h1 {
  margin-top: 20px;
}

#lastUpdate {
  opacity: 0.8;
}

.country {
  margin: 15px auto;
  width: 90%;
  max-width: 500px;
}

/* دکمه شیشه‌ای */
.country-btn {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;

  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);

  transition: 0.3s;
}

.country-btn:hover {
  background: rgba(255,255,255,0.2);
}

/* لیست کانفیگ */
.configs {
  display: none;
  margin-top: 10px;
  text-align: left;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-5px);}
  to {opacity: 1; transform: translateY(0);}
}

.config {
  background: rgba(255,255,255,0.08);
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  word-break: break-all;
}

/* دکمه کپی */
.copy-btn {
  margin-top: 5px;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #00c6ff;
  color: white;
}

/* فوتر */
footer {
  margin-top: 30px;
}

footer a {
  color: #00c6ff;
  text-decoration: none;
  font-size: 16px;
}
