name: Auto Update Configs

on:
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install requests
        run: pip install requests

      - name: Run script
        run: python generate.py

      - name: Commit changes
        run: |
          git config user.name "bot"
          git config user.email "bot@example.com"
          git add data.json
          git commit -m "auto update"
          git push
